<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<div id="firstNav">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#/roomManage" data-toggle="tab">客房管理</a></li>
        <li><a href="#/infoSearch" data-toggle="tab">信息查询</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active" id="roomManage">
            <div class="secondNav">
                <ul class="nav nav-stacked">
                    <li class="active"><a href="#/curiseAboard">登船登记</a></li>
                    <li><a href="#/reserve">预定登记</a></li>
                    <li><a href="#/roomChange">换舱登记</a></li>
                    <li><a href="#/payment">消费结账</a></li>
                    <li><a href="#/depositPay">补交押金</a></li>
                </ul>

            </div>
        </div>
        <div class="tab-pane" id="infoSearch">
            <div class="secondNav">
                <ul class="nav nav-stacked">
                    <li class="active"><a href="../customerInfo.html">客人信息</a></li>
                    <li><a href="../reserveInfo.html">客房预订</a></li>
                    <li><a href="../changeInfo.html">换舱登记</a></li>
                    <li><a href="../thingsConsume.html">物品消耗</a></li>
                    <li><a href="../cleanStatus">清洁状态</a></li>
                    <li><a href="../saleRate">销售进度</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery-3.1.0.min.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
